<p>Ime i prezime: Jan Ivančić</p>
<p>Email: jivancic20@foi.mail</p>

<p>PRVA ZADACA (REST DIO)<p>
<table>
  <tr>
      <th>Resurs <br>
          Parametri</th>
      <th>GET <br>
          Čitanje</th>
      <th>POST <br>
          Kreiranje</th>
      <th>PUT <br>
          Ažuriranje</th>
      <th>DELETE <br>
          Brisanje</th>
  </tr>
  <tr>
      <td>api/korisnici</td>
      <td >implementirano</td>
      <td >implementirano</td>
      <td >implementirana greska 501</td>
      <td >implementirana greska 501</td>
  </tr>
  <tr>
      <td>api/korisnici<br>
          /&#123;korime&#125;</td>
      <td >implementirano</td>
      <td >implementirano</td>
      <td >implementirano</td>
      <td >implementirana greska 501</td>
  </tr>
  <tr>
      <td>api/korisnici<br>
          /&#123;korime&#125;/aktivacija</td>
      <td >implementirana greska 501</td>
      <td >implementirano</td>
      <td >implementirano</td>
      <td >implementirana greska 501</td>
  </tr>
  <tr>
      <td>api/korisnici<br>
          /&#123;korime&#125;/prijava</td>
      <td >implementirana greska 501</td>
      <td >implementirano</td>
      <td >implementirana greska 501</td>
      <td >implementirana greska 501</td>
  </tr>
  <tr>
      <td>api/filmovi/<br>
          ?stranica=broj<br>
          &brojFilmova=broj<br>
          &#91;&datum=datum&#93;<br>
          &#91;&zanr=idZanr&#93;<br>
          &#91;&naziv=dioNazivFilma&#93;<br>
          &#91;&sortiraj=&#91;d | z | n&#93;&#93;</td>
      <td >Nije implementirano</td>
      <td >Nije implementirano</td>
      <td >implementirana greska 501</td>
      <td >implementirana greska 501</td>
  </tr>
  <tr>
      <td>api/filmovi/&#123;id&#125;</td>
      <td >implementirano</td>
      <td >implementirano</td>
      <td >implementirano</td>
      <td >implementirano</td>
  </tr>
  <tr>
      <td>api/zanr</td>
      <td >implementirano</td>
      <td >implementirano</td>
      <td >implementirana greska 501</td>
      <td >implementirano</td>
  </tr>
  <tr>
      <td >implementirano</td>
      <td >implementirano</td>
      <td >implementirano</td>
      <td >implementirano</td>
  </tr>
  <tr>
      <td >implementirano</td>
      <td >implementirana greska 501</td>
      <td >implementirana greska 501</td>
      <td >implementirana greska 501</td>
  </tr>
  <tr>
      <td>api/tmdb/filmovi<br>
          ?kljucaRijec=rijec1<br>
          &#91;,rijec2&#93;<br>
          &stranica=broj
          </td>
      <td >implementirano</td>
      <td >implementirana greska 501</td>
      <td >implementirana greska 501</td>
      <td >implementirana greska 501</td>
  </tr>
</table>

<p>DRUGA ZADACA (APP DIO)<p>
<table>
  <tr>
    <th>Uloga</th>
    <th>Stranica</th>
    <th>OPIS</th>

</tr>
<tr>
    <td>Gost</td>
    <td>Pocetna</td>
    <td>implementirano</td>
</tr>
<tr>
  <td>Gost</td>
  <td>Dokumentacija</td>
  <td>implementirano</td>
</tr>
<tr>
  <td>Gost</td>
  <td>Registracija,Prijava,Odvaja</td>
  <td>Implementirano, ali ne radi redirect nakon prijave tako da je potrebno maknuti /prijava iz url</td>
</tr>
<tr>
  <td>Korisnik</td>
  <td>Profil</td>
  <td>Implementirano, ali bez mogućnosti ažuriranja podataka</td>
</tr>
</table>

<table>
  <tr>
      <th>Broj zadatka</th>
  </tr>
  <tr>
      <td>1.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <td>2.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <td>3.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <td>4.</td>
      <td>Nije potrebo</td>
  </tr>
  <tr>
      <td>5.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <td>6.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <th>Zadaci REST servis</th>
  </tr>
  <tr>
      <td>7.</td>
      <td >a. i b. implementirano</td>
  </tr>
  <tr>
      <td>8.</td>
      <td>Nije Implementirano</td>
  </tr>
  <tr>
      <td>9.</td>
      <td >Implementirano (JWT)</td>
  </tr>
  <tr>
      <td>10.</td>
      <td>Nije Implementirano</td>
  </tr>

  <tr>
      <th>Zadaci Web aplikacija</th>
  </tr>
  <tr>
      <td>11.</td>
      <td>Implementirano</td>
  </tr>
  <tr>
      <td>12.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <td>13.</td>
      <td>Implementirano</td>
  </tr>
  <tr>
      <td>14.</td>
      <td>Nije Implementirano</td>
  </tr>
  <tr>
      <td>15.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <td>16.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <td>17.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <td>18.</td>
      <td >Implementirano</td>
  </tr>
  <tr>
      <td>19.</td>
      <td>Implementirano</td>
  </tr>
  <tr>
      <td>20.</td>
      <td>Implementirano, angular app ne komunicira sa REST servisom</td>
  </tr>
  <tr>
      <td>21.</td>
      <td>Nije Implementirano</td>
</tr>
</table>

