<p>REGISTRACIJA</p>
<form method="POST">
    <label for="ime">Ime:</label><br>
    <input type="text" id="ime" name="ime"><br>
    <label for="prezime">Prezime:</label><br>
    <input type="text" id="prezime" name="prezime"><br>
    <label for="korime">Korisničko ime:</label><br>
    <input type="text" id="korime" name="korime"><br>
    <label for="lozinka">Lozinka:</label><br>
    <input type="password" id="lozinka" name="lozinka"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <button id="regGumb" value="Registriraj se">Registriraj se</button>
  </form> 
  
